<div>
  <ng-container *ngIf="index >= 4">
    <table [ngClass]="{'PlaceOrderTable': CalcData[0] && CalcData[1]}" class="ScreenerTable bottom">
      <tr *ngIf="symbols">
        <th style="max-width: 100px;">Symbol</th>
        <th>Type</th>
        <th>Expiry</th>
        <th>Strike</th>
      </tr>
      <tr *ngFor="let result of symbols">
        <td>{{result[0]}}</td>
        <td>{{result[1]}}</td>
        <td>{{result[2]}}</td>
        <td>{{result[3]}}</td>
      </tr>
    </table>
  </ng-container>
  <ng-container *ngIf="index < 4">
    <table [ngClass]="{'PlaceOrderTable': CalcData[0] && CalcData[1]}" class="ScreenerTable">
      <tr *ngIf="symbols">
        <th>Symbol</th>
        <th>Type</th>
        <th>Expiry</th>
        <th>Strike</th>
      </tr>
      <tr *ngFor="let result of symbols">
        <td>{{result[0]}}</td>
        <td>{{result[1]}}</td>
        <td>{{result[2]}}</td>
        <td>{{result[3]}}</td>
      </tr>
    </table>
  </ng-container>    
</div>